@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
    font-family: 'Poppins',sans-serif;
    background-color: #eee;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    
:root {
    --main-color :#1f57b6 ;
    --main-color-alt :#5995fd ;
    --main-color-hover : #04befe;
    --main-color-success :#2ecc71 ;
    --main-color-error :#e74c3c ;
    --main-transition : .5s;
    --main-font-weight : 600;
    --main-box-shadow : 3px 3px 5px 5px rgb(0 0 0 / 20%)
}

a {
    text-decoration: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:not(:active) {
  -webkit-background-clip: text;
  background-clip: text;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}