

/* change designPost  */

.designPost {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
    margin: 55px auto;
    height: fit-content;
    width: 470px;
}

.designPost .contain {
    box-shadow: var(--main-box-shadow);
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: column !important;
    border-radius: 5px;
    background-color: #fff;
    max-width: 100%;
    gap: 5px;
}

.designPost .contain .box_1 {
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
}

.designPost .contain .box_1 .image  {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    gap: 8px;
    position: relative;
}

.designPost .contain .box_1 .image img {
    cursor: pointer;
    position: absolute;
    top: -32px;
    left: -37px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 20px 30px;
}

.designPost .contain .box_1 .image img { 
    z-index: 2;
}
.designPost .contain .box_1 .image a span {
    z-index: 2;
}

.designPost .contain .box_1 .image .infoProfile  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    /* row-gap: 2px; */
}

.designPost .contain .box_1 .image .infoProfile .userName a {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: 1s;
    cursor: pointer;
}
.designPost .contain .box_1 .image .infoProfile .userName a:hover {
    color: var(--main-color-hover);
}
.designPost .contain .box_1 .image .infoProfile .data a {
    font-size: 11px;
    color: rgba(51, 51, 51, 0.788);
    padding: 5px;
    transition: 1s;
}

.designPost .contain .box_1 .image .infoProfile .data a:hover {
    color: #333;
}

.designPost .contain .box_1 .image .infoProfile .data > i {
    color: rgba(51, 51, 51, 0.664);
    transition: 1s;
}

.designPost .contain .box_1 .image .infoProfile .data > i:hover {
    color: #333;
}

.designPost .contain .box_1 .image .infoProfile .data  i {
    font-size: 11px;
}

.designPost .contain .box_1 span {
    color: #333;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(51, 51, 51, 0.199);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    font-size: 13px;
    font-weight: 600;
}
.designPost .contain .box_1 span:hover {
    color: #4599ff;
    background-color: rgba(153, 153, 153, 0.342);
}


.designPost .contain .box_3 {
    padding: 10px 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.designPost .contain .box_3 .box_container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
.designPost .contain .box_3 i {
    font-size: 20px;
    cursor: pointer;
    color: #595959a8;
    transition: .6s;
    /* animation:  up-and-downn 5s linear infinite; */
}

.designPost .contain .box_3 i:hover {
    color: var(--main-color-hover);

}


.designPost .contain .box_2  {
    /* width: 480px; */
    max-width: 100%;
    font-size: 17px;
    color: #333;
    line-height: 1.3;
    padding-left: 10px;
    padding-right: 10px;
}

.designPost .contain .box_2 img,
.designPost .contain .box_2 video  {
    width: 470px;
    max-width: 100%;
    height: fit-content;
    max-height: 280px;
    border-radius: 5px;
}
.designPost .contain .box_2 p {
    font-size: 14px;
    color: #65676b;
    word-wrap: break-word;
    margin-bottom: 10px;
    margin-left: 5px;
}
.designPost .contain .box_2 a {
    font-size: 14px;
    transition: var(--main-transition) ease-in-out;
    color: var(--main-color);
}
.designPost .contain .box_2 a:hover {
    color: var(--main-color-hover);
    text-decoration: underline;
}
.designPost .contain .box_2 .image  {
    width: 470px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow: hidden;
}

.designPost .contain .box_2 .image img {
    width: 146px;
    height: 146px;
}
.designPost .contain .box_2 .image img:first-of-type  {
    width: 299px;
    height: 146px;
}
/* .designPost .contain .box_2 .image .last{
    position: relative;
}
.designPost .contain .box_2 .image .last::after {
content: '+';
font-weight: 900;
color: #1771E6;
background-color: #bcc0cb;
font-size: 22px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
} */
