body {
 background-color: #f4e9e3 !important;
 width: 100vw;
 overflow-x: hidden;
}

.group_header {
 width: 100%;
 height: 470px;
 /* overflow-y: hidden; */
 background-color: white;
 box-shadow: 0px 0px 3px 0px #999;
 background-image: linear-gradient(to bottom , #999 , white 50% 100%);
 display: flex;
 align-items: flex-start;
 justify-content: center;
}

.group_header > .container {
 width: 68%;
 height: 100%;
 max-width: 100%;
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 flex-direction: column;
}


.group_header .container .cover {
 width: 100%;
 height: 350px;
 position: relative;
 box-shadow: 0px 0px 3px 0px rgb(255, 255, 255);
}

.group_header .container  .cover img {
 width: 100%;
 max-width: 100%;
 max-height: 100%;
 background-repeat: no-repeat;
 background-clip: border-box;
 background-size: cover;
 border-radius: 5px;
}

.group_header .container  .cover p {
position: absolute;
width: 100%;
height: 33px;
background-color: #ff7a38;
bottom: 0px;
left: 0;
color: #fff;
font-size: 12px;
display: flex;
align-items: center;
justify-content: flex-start;
padding-left: 10px;
border-radius: 0 0 5px 5px;

}

.group_header .container  .cover p a {
 color: #fff;
 font-size: 14px;
 padding-left: 5px;
 text-shadow: 0 0 4px #999;
 transition: 0.5s ease-in-out;
 text-transform: capitalize;
}
.group_header .container  .cover p a:hover {
 text-decoration: underline #fff;
 color: rgb(155, 72, 4);
}

.group_header .container .contains {
 max-width: 100%;
 display: flex;
 align-items: flex-start;
 /* justify-content: center; */
 flex-direction: column;
 background-color: #fff;
 width: 100%;
 height: max-content;
 border-radius: 5px 5px 0px 0px ;
 row-gap: 10px;
}

.group_header .container .contains  .info {
 display: flex;
 align-items: flex-start;
 justify-content: space-between;
 width: 100%;
 padding: 25px 36px;
}
.group_header .container .contains  .info .right,
 .group_header .container .contains  .info .left{
 display: flex;
 align-items: flex-start;
 justify-content: center;
 flex-direction: column;
 row-gap: 10px;
}
.group_header .container .contains  .info .left {
 flex-direction: row;
 column-gap: 10px;
 position: relative;
}

.group_header .container .contains  .info .right h2 {
 font-size: 22px;
 font-weight: 600;
 text-shadow: 1px 1px 5px rgb(160, 160, 160);
 color: rgb(66, 66, 66);
 text-transform: capitalize;
}
.group_header .container .contains  .info .right p {
 font-size: 12px;
 color: rgb(80, 80, 80);
 display: flex;
 align-items: center;
 justify-content: flex-start;
 column-gap: 5px;
}

.group_header .container .contains  .info .right p a {
 font-size: 12px;
 color: rgb(80, 80, 80);
 transition: 0.3s ease-in-out;
}
.group_header .container .contains  .info .right p a:hover {
 color: #ff6d24;
 text-decoration: #ff6e25 underline;
}

.group_header .container .contains  .info .left .joinbtn {
 display: flex;
 align-items:center;
 flex-direction: column;
}

.group_header .container .contains  .info .left .joinbtn ul {
 display: flex;
 align-items: flex-end;
 justify-content: center;
 flex-direction: column;
 /* row-gap: 9px; */
 background-color: #fff0e9;
 padding: 0 9px;
 position: absolute;
 /* width: 144px; */
 /* height: 153px; */
 bottom: -88px;
 left: -104px;
 border: 1px solid #e1e1e1b8;
 border-radius: 10px;
 display: none;
 z-index: 20;
}

.group_header .container .contains  .info .left .joinbtn ul > form button {
 width: 80px;
 margin: 7px 0;
}

.group_header .container .contains  .info .left .joinbtn ul > form button {
 background-color: #fff;
}

.group_header .container .contains  .info .left button {
 background-color: transparent;
 border: none;
 outline: none;
 cursor: pointer;
 padding:7px 15px;
 display: flex;
 align-items: center;
 justify-content: center;
 column-gap: 8px;
 /* width: 120px; */
 max-width: 200px;
 background-color: rgba(238, 238, 238, 0.575);
 color: rgb(66, 66, 66);
 border-radius: 5px;
 font-size: 14px;
 text-transform: capitalize;
 box-shadow: 0px 0px 2px 0px #999;
}
.group_header .container .contains  .info .left button i {
 color: #d39393;
}
.group_header .container .contains  .info .left > button:first-of-type ,
 .group_header .container .contains  .info .left > button:first-of-type i{
 background-color: #ff6d24;
 color: #fff;
}


.group_main {
 max-width: 100%;
 height: max-content;
 display: flex;
 align-items: center;
 justify-content: center;
}

.group_main .container {
 width: 68%;
 margin-top: 5px;
}
.group_main .container .contains {
 max-width: 100%;
 display: flex;
 align-items: flex-start;
 justify-content: space-around;
}
.group_main .container .contains .leftSide {
 margin-top: 10px;
 position: sticky;
 top: 90px;
 right: 0;
 height: max-content;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 10px 15px;
 flex-direction: column;
 gap: 20px;
 width: 40%;
}

.group_main .container .contains .leftSide .group {
 padding: 10px 15px;
 background-color: #fff;
 border-radius: 10px;
 display: flex;
 align-items: flex-start;
 justify-content: center;
 row-gap: 15px;
 flex-direction: column;
 max-width: 100%;
 box-shadow: var(--main-box-shadow);
}

.group_main .container .contains .leftSide .group .box:first-of-type {
 flex-direction: column;
 width: 100%;
}
.group_main .container .contains .leftSide .group .box .intro {
 text-align: right !important;
 width: 100%;
 word-spacing: 2px;
 font-size: 16px !important;
}

.group_main .container .contains .leftSide .group .box {
 max-width: 100%;
 display: flex;
 align-items: flex-start;
 justify-content: center;
 /* flex-direction: column; */
 column-gap: 10px;
}

.group_main .container .contains .leftSide .group .box .minBox {
 max-width: 100%;
 display: flex;
 align-items: flex-start;
 justify-content: center;
 flex-direction: column;
 row-gap: 3px;
}

.group_main .container .contains .leftSide .group h3 {
 font-size: 16px;
 font-weight: 600;
 color: #4d4c4c;
 font-family: 'Times New Roman', Times, serif;
}

.group_main .container .contains .leftSide .group i {
 color: #ffbd9b;
 font-size: 15px;
}

.group_main .container .contains .leftSide .group p ,
.group_main .container .contains .leftSide .group a {
 font-size: 14px;
 color: #585858;
 font-family: cursive;
 transition: .5s ease-in-out;
}

.group_main .container .contains .leftSide .group a:hover {
 color: #ff6d24;
 text-decoration: underline #ff6d24 dashed;
}

.group_main .container .contains .leftSide .group ol {
 display: flex;
 align-items: flex-start;
 justify-content: center;
 width: 100%;
 flex-direction: column;
 padding: 10px 15px;
 max-width: 100%;
 line-height: 1.4;
 row-gap: 10px;

}
.group_main .container .contains .leftSide .group ol li {
 font-size: 15px;
 color: #585858;
 text-align: right;
}

.back {
 position: fixed;
 right: 20px;
 bottom: 30px;
 background-color: rgb(0, 216, 198);
 color: white;
 font-size: 12px;
 border-radius: 50%;
 padding: 8px 10px;
 border: 1px solid rgb(255, 255, 255);
 transition: .5s ease-in-out;
}

.back:hover {
 background-color: rgb(255, 255, 255);
 color: rgb(0, 216, 198);
 border-color: rgb(0, 216, 198);
}
