
.header {
    height: 70px;
    /* overflow: hidden; */
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: var(--main-box-shadow);
    z-index: 300000987;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .container {
    height: 70px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .left,
.header .container .middle,
.header .container .right {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header .container .left  .search {
    width: 250px;
    max-width: 100%;
    border: 1px #eee solid;
    border-radius: 13px;
    background-color: rgba(238, 238, 238, 0.562);
}



.header .container .left #search  {
    outline: none;
    border: none;
    background-color: rgba(238, 238, 238, 0.452);
    padding: 10px 6px;
    border-radius: 13px;
    caret-color: var(--main-color);
}

.header .container .left  .search i {
    color: #acacac;
    font-size: 19px;
    transition: var(--main-transition);
}

.header .container .left  .search i:hover {
    color: var(--main-color);
}

.header .container .left #search::placeholder {
    color: #acacac;;
}

.header .container .left  img {
  margin-top: 10px;
    width: 170px;
    height: 120px;
}



.header .container .middle {
    display: flex;
    gap: 100px;
}

.header .container .middle .home a,
.header .container .middle .group a,
.header .container .middle .courses a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header .container .middle .home a i ,
.header .container .middle .group a i,
.header .container .middle .courses a i,
.header .container .right .messages  i,
.header .container .right .notification  i,
.header .container .right .more  {
    font-size: 20px;
    color: #333;
    transition: var(--main-transition);
}

.header .container .middle .home span  ,
.header .container .middle .group span ,
.header .container .middle .courses span {
    font-size: 15px;
    color: #333;
    transition: var(--main-transition);
}

.header .container .middle .home a i,
.header .container .middle .home a span {
    color: var(--main-color);
}

.header .container .middle a:hover i {
    color: var(--main-color);
}

.header .container .middle .group a:hover  span,
.header .container .middle .courses a:hover span,
.header .container .right .messages i:hover,
.header .container .right .notification i:hover,
.header .container .right .more i:hover
.header .container .middle .home span a:hover ,
.header .container .middle .group span a:hover,
.header .container .middle .courses span a:hover {
    color: var(--main-color);
}
.header .container .right .messages i,
.header .container .right .notification i {
    position: relative;
}

.header .container .right .messages   i::after,
.header .container .right .notification  i::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    top: -2px;
    right: -4px;
    background-color: rgba(252, 205, 205, 0.979);
    border-radius: 50%;
}


.header .container .right {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

/* =============Notification start ======================= */

.header .container .right .notification ul {
    position: absolute;
    top: 66px;
    right:70px;
    /* padding: 10px; */
    /* width: 24%; */
    max-width: 100%;
    height: 400px;
    overflow-y: hidden;
    min-height: 100%;
    background-color: #ffffff;
    box-shadow: var(--main-box-shadow);
    border-radius: 5px 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    display: none;
    overflow-y: auto;
}

.header .container .right .notification ul::-webkit-scrollbar,
.header .container .right .messages ul::-webkit-scrollbar {
    width: 10px;
}
.header .container .right .notification ul::-webkit-scrollbar-thumb,
.header .container .right .messages ul::-webkit-scrollbar-thumb {
  background-color: #90A4AE;
  border-radius: 6px;
  border: 3px solid #CFD8DC;
}
.header .container .right .notification ul::-webkit-scrollbar-track
.header .container .right .messages ul::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px #90A4AE;
}
.header .container .right .notification ul {
    scrollbar-width: thin;
    scrollbar-color: var(--main-color);
 }

.header .container .right .notification ul li:first-of-type {
    font-size: 22px;
    font-weight: var(--main-font-weight);
    color: rgba(51, 51, 51, 0.692);
    border-bottom: none;
    justify-content: flex-start !important;
    text-shadow: 1px 1px 3px rgba(0, 217, 255, 0.39);
    background-color: transparent !important;
    cursor: alias !important;
}

.header .container .right .notification ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    position: relative;
}

span.new {
    position: absolute;
    width: 9px;
    height: 9px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(0, 88, 161);
    border-radius: 50%;
    border: 1px solid rgba(51, 51, 51, 0.438);
}

.header .container .right .notification ul li:hover,
.header .container .right .messages ul li:hover {
    background-color: #ebebeb6e;
    cursor: pointer;
}

.header .container .right .notification ul li:last-of-type {
    border: none;
}

.header .container .right .notification ul li .box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.header .container .right .notification ul li .box .noti {
    word-wrap: break-word;
    line-height: 1.5;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.685);
    width: 230px;
    max-width: 100%;
}

.header .container .right .notification ul li .box .time {
    color: #acacac;
    font-size: 11px;
    padding-top: 4px;
}


/* =============Notification end======================= */

/* =============message start ======================= */
.header .container .right .messages ul {
    position: absolute;
    top: 66px;
    right:50px;
    max-width: 100%;
    min-height: 100%;
    background-color: #fff;
    box-shadow: var(--main-box-shadow);
    border-radius: 5px 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    display: none;
    /* opacity: 0;
    pointer-events: none; */
    overflow-y: auto;
}

.header .container .right .messages ul li:last-of-type,
.header .container .right .messages ul li:first-of-type {
    border-bottom: none;
}

.header .container .right .messages ul li:first-of-type {
    font-size: 22px;
    padding-left: 20px;
    font-weight: var(--main-font-weight);
    color: rgba(51, 51, 51, 0.692);
    justify-content: flex-start !important;
    text-shadow: 1px 1px 3px rgba(0, 217, 255, 0.39);
    background-color: transparent !important;
    cursor: pointer !important;
}

.header .container .right .messages ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px #eee solid;
    padding-bottom: 10px;
    max-width: 100%;
    column-gap: 10px;
    padding: 10px 15px;
    position: relative;
}

.header .container .right .messages ul li .box .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.header .container .right .messages ul li .box .top .name {
    font-size: 16px;
    color: rgba(51, 51, 51, 0.877);
    font-weight: var(--main-font-weight);
}

.header .container .right .messages ul li .box .top .time {
    font-size: 12px;
    color: rgba(51, 51, 51, 0.712);
}

.header .container .right .messages ul li .box .message {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.685);
    width: 230px;
    max-width: 100%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    height: 18px;
    margin-top: 3px;
}


.header .container .right .messages ul li:first-of-type {
    font-size: 22px;
    font-weight: var(--main-font-weight);
    color: rgba(51, 51, 51, 0.596);
}




.header .container .right .messages ul li .image {
    position: relative;
}
.header .container .right .messages ul li .image::after {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #2ecc71;
    border: 1px solid #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


/* =============message end ======================= */

/* =========================================start account ======================================== */

.header .container .right .account {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header .container .right .account ul {
    position: absolute;
    top: 66px;
    right: 10px;
    width: 20%;
    max-width: 100%;
    min-height: 100%;
    padding : 10px 14px 10px 14px;
    background-color: #fff;
    box-shadow: var(--main-box-shadow);
    border-radius: 5px 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* opacity: 0;
    pointer-events: all;  */
    display: none;
    transition: var(--main-transition) linear all;
}

.header .container .right .account > img {
    cursor: pointer;
    position: relative;
}




/* .header .container .right .account > img:hover ul {
    opacity: 1;
    pointer-events: all;
} */

/* ======================================================================= */

.header .container .right .account ul li.prof_personal {
    display: flex;
    align-items: flex-start;
    border-bottom:  1px #eee solid;
    padding-top: 5px;
    padding-bottom: 8px;
    width: 100%;
}

.header .container .right .account ul li.prof_personal .personalInfo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


.header .container .right .account ul li.prof_personal .personalInfo a:first-of-type {
    font-size: 19px;
    color: rgba(51, 51, 51, 0.856);
    font-weight: var(--main-font-weight);
    transition: var(--main-transition);
}

.header .container .right .account ul li.prof_personal .personalInfo span {
    font-size: 10px;
    color: rgba(51, 51, 51, 0.63);
}

.header .container .right .account ul li.prof_personal .personalInfo a:hover {
    color: var(--main-color-hover);
}

/* ======================= Center in Account ================================================ */

.header .container .right .account ul li.center .con_center {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 8px;
    border-bottom: 1px #eee solid;
    row-gap: 10px;
}

.header .container .right .account ul li.center .con_center a {
    transition: var(--main-transition) linear;
    font-size: 15px;
    font-weight: var(--main-font-weight);
    color: rgba(51, 51, 51, 0.815);
}

.header .container .right .account ul li.center .con_center i {
    margin-right: 15px;
    color: #645caf79;
    font-size: 16px;
    transition: var(--main-transition);
    position: relative;
}

.header .container .right .account ul li.center a:hover {
    color: var(--main-color-hover);
}

.header .container .right .account ul li.center a:hover i{
    color: var(--main-color-hover);
    position: relative;
    animation: rotate 3s infinite linear;
}



/* ============================= start setting group in account ========================================== */

.header .container .right .account ul li.setting {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 8px;
    border-bottom: 1px #eee solid;
}

.header .container .right .account ul li.setting  i {
    margin-right: 10px;
    color: #645caf79;
    font-size: 16px;
    transition: var(--main-transition);
    position: relative;
}

.header .container .right .account ul li.setting a {
    transition: var(--main-transition) linear;
    font-size: 15px;
    font-weight: var(--main-font-weight);
    color: rgba(51, 51, 51, 0.815);
}

.header .container .right .account ul li.setting a:hover {
    color: var(--main-color-hover);
}

.header .container .right .account ul li.setting a:hover i{
    color: var(--main-color-hover);
    position: relative;
    animation: rotate 1s infinite ease-out;
}


@keyframes rotate {
    0%,100% {
        top: 0;
    }
    50% {
        top: -3px;
    }
}

/* ============================ start log out group in account =========================================== */

.header .container .right .account ul li.logOut {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 8px;
    border-bottom: 1px #eee solid;
}

.header .container .right .account ul li.logOut i {
    margin-right: 10px;
    color: #645caf79;
    font-size: 16px;
    transition: var(--main-transition);
}


.header .container .right .account ul li.logOut input {
    transition: var(--main-transition) linear;
    font-size: 15px;
    font-weight: var(--main-font-weight);
    color: rgba(51, 51, 51, 0.815);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header .container .right .account ul li.logOut input:hover {
    color: var(--main-color-hover);
}

.header .container .right .account ul li.logOut a:hover i {
    color: var(--main-color-hover);
    animation: rotateRight 1s infinite linear;
}

@keyframes rotateRight {
    0%,100% {
        transform: rotate(10px);
    }
    50% {
        transform: rotate(-10deg);
    }
}

/* =============================== start feedback group in account ======================================== */

.header .container .right .account ul li.report {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    flex-direction: column;
    row-gap: 5px;
}

.header .container .right .account ul li.report a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: var(--main-transition) linear;
    font-size: 15px;
    font-weight: var(--main-font-weight);
    color: rgba(51, 51, 51, 0.815);
}

.header .container .right .account ul li.report i {
    margin-right: 4px;
    color: #645caf79;
    font-size: 16px;
    transition: var(--main-transition);
}

.header .container .right .account ul li.report a:hover i {
    color: var(--main-color-hover);
    animation: left 1s infinite linear;
}

@keyframes left {
    0%,100% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0);
    }
}


.header .container .right .account ul li.report a:hover {
    color: var(--main-color-hover);
}

.header .container .right .account ul li.report span {
    font-size: 12px;
    color: rgba(10, 10, 10, 0.637);
    margin-left: 30px;
}

.header .container .right .account img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.header .container .right .message i {
    font-size: 20px;
    color: #333;
    transition: var(--main-transition);
}

/* =========================================end account ======================================== */

/* =========================================start media quary ======================================== */


@media (max-width : 991px) {
    .header .container .left .search {
        display: none;
    }
    .header {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmx(300px,1fr));
    }
}


/* close notification ul "drop down"
* first add button with id
*/
.right .notification ul li button#closeNotif {
    position: absolute;
    right: -149px;
    top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.right .notification ul li button#closeNotif i {
    padding: 5px 8px;
    background-color: #e0dddd6e;
    color: var(--main-color-hover);
    text-shadow: 1px 1px 3px #acacac;
    border-radius: 50%;
    transition: var(--main-transition) ease;
}
.right .notification ul li button#closeNotif i:hover {
    background-color: rgb(234, 239, 241);
    color: rgba(51, 51, 51, 0.692);
    text-shadow: 1px 1px 3px rgba(0, 217, 255, 0.39);
}
.right .notification ul li button#closeNotif i::after {
    content: '';
    background-color: transparent;
}



/* close message chat ul "drop down"
* first add button with id
*/
.right .messages ul li button#messageClose {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.right .messages ul li button#messageClose i::after {
    content: '';
    background-color: transparent;
}

.right .messages ul li button#messageClose i {
    padding: 5px 8px;
    background-color: #e0dddd6e;
    color: var(--main-color-hover);
    text-shadow: 1px 1px 3px #acacac;
    border-radius: 50%;
    transition: var(--main-transition) linear;
}

.right .messages ul li button#messageClose i:hover {
    background-color: rgb(234, 239, 241);
    color: rgba(51, 51, 51, 0.692);
    text-shadow: 1px 1px 3px rgba(0, 217, 255, 0.39);
}


/* close notification ul "drop down"
* first add button with id
*/

.right .account ul li button#settingClose {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.right .account ul li button#settingClose i {
    padding: 5px 8px;
    background-color: #e0dddd6e;
    color: var(--main-color-hover);
    text-shadow: 1px 1px 3px #acacac;
    border-radius: 50%;
    transition: var(--main-transition) linear;
}
.right .account ul li button#settingClose i:hover {
    background-color: rgb(234, 239, 241);
    color: rgba(66, 78, 73, 0.692);
    text-shadow: 1px 1px 3px rgba(66, 71, 71, 0.39);
}
