.help-container {
  width: 100%;
  background-image: url(../images/help.svg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-clip: border-box;
  background-position: right;
  background-attachment: fixed;
}

.help-container .min-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 500px;
  /* gap : 5px; */
  padding-left: 150px;
  margin-bottom: 90px;
}

.help-container .min-box h2 {
  font-size: 22px;
  font-family: cursive;
  font-weight: 600;
  color: #fffff6;
  text-shadow: 1px 1px 7px rgb(35, 149, 198);
  background-color: rgb(179, 234, 255);
  padding: 10px 15px;
  border-radius: 10px 120px 120px 120px;
}

.help-container .min-box > p {
  font-size: 25px;
  color: #fffff6;
  /* background-color: rgb(179, 234, 255); */
  text-shadow: 1px 1px 7px rgb(35, 149, 198);
  padding: 15px 25px;
  width: 230px;
  line-height: 1.6;
  border-radius: 10px;
  font-weight: 600;
  word-spacing: 2px;
  margin-left: 10px;
}

.help-container .min-box .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(179, 234, 255);
  border-radius: 10px;
  transition: 0.3s linear;
}

.help-container .min-box .search input {
  width: 90%;
  padding: 10px 12px;
  border: 1px solid #ddd;
  caret-color: rgb(34, 164, 246);
  border-radius: 10px 0px 0px 10px;
  transition: 0.3s;
}

.help-container .min-box .search input:focus {
  outline: none;
}

.help-container .min-box .search input::placeholder {
  font-size: 12px;
  color: rgb(93, 93, 93);
  padding-left: 2px;
  text-transform: capitalize;
  transition: 0.3s;
}

.help-container .min-box .search a {
  text-align: center;
  width: 10%;
  color: #fffff6;
  transition: 0.3s;
}

.help-container .min-box .search:hover {
  box-shadow: 1px 1px 4px 1px rgb(136, 227, 255);;
}
.help-container .min-box .search input:hover::placeholder {
  opacity: 0.5;
}
.help-container .min-box .search a:hover {
  color: rgb(7, 147, 237);
}

.help-container .container {
  background-color: #eee;
  width: 100%;
  border-radius:  30px 30px 0 0;
  box-shadow: 1px 1px 5px 1px #999;
  padding: 20px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap : 20px;
}

.help-container .container h2 {
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 20px;
  color: rgb(3, 108, 175);
}

.help-container  .box-container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% ;
  justify-content:center;
  align-items: center;
  grid-gap: 40px;
  margin-bottom: 20px;
}

.help-container .container .box-container  a > img {
  width: 100px;
  height: 100px;
}

.help-container .container .box-container  a {
  background-color: #fff;
  padding: 0px 15px;
  border-radius: 10px;
  /* box-shadow: 1px 1px 8px 2px #ddd; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap : 10px;
  height: 280px;
  transition: 0.3s;
  border: 1px solid #ddd;
}

.help-container .container .box-container  a:hover {
  box-shadow: 1px 1px 10px 5px #ddd;
}

.help-container .container .box-container  a h4 {
  font-size: 18px;
  color: rgb(15, 162, 245);
  font-weight: 500;
  text-transform: capitalize;
}

.help-container .container .box-container  a p {
  font-size: 13px;
  color: rgb(122, 122, 122);
  line-height: 1.5;
  width: 100%;
  text-align: center;
}
