
.create_post {
    width: 470px;
    margin: 50px auto;
    box-shadow: var(--main-box-shadow);
    border-radius: 15px;
    background-color: #fff !important;
}

.create_post .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    padding: 12px 10px;
}

.create_post .container img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.create_post .container input {
    flex: 1;
    padding: 10px;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #eee;
    outline: none;
    font-size: 14px;
    color: #999;
    cursor :pointer;
    font-weight: var(--main-font-weight);
    transition: var(--main-transition) linear;
}

.create_post .container input:hover {
    background-color: rgba(238, 238, 238, 0.527);
    color: var(--main-color-hover);

}

/* start pop up creating post */

.pop_post {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity .8s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 30000;
    /* background-color: rgba(211, 255, 248, 0.562); */
    width: 100vw;
    height: 100vh;
}
#createPost.show {
  opacity: 1;
  pointer-events: auto;
}

.pop_post .container  {
    overflow: hidden;
    width: 499px;
}

/* change add */
.pop_post .container .post .box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.pop_post .container .post .box .arrow i {
    font-size: 15px;
    text-align: right;
    padding: 6px 9px;
    background-color: #b9b9b970;
    border-radius: 50%;
    color: #595959;
    cursor: pointer;
    transition: var(--main-transition) ease;
}

.pop_post .container .post .box .arrow i:hover {
    color: var(--main-color-hover);
    background-color: #eee;
}

.pop_post .container .post .box .arrow.close {
    opacity: 0;
    pointer-events: none;
}

/* e change */


.pop_post .container .wrapper{
    border-radius: 10px;
    height: 450px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: var(--main-box-shadow);
    transition: height 0.2s ease;

}

.pop_post .container .wrapper {
    display: flex;
    width: 1000px;
}

.pop_post .container section {
    width: 500px;
    background-color: #fff;
}

.pop_post .container .wrapper .post  {
    transition: margin-left 0.18s ease;
}

.pop_post .container .wrapper.active {
    height: 590px;
}

.pop_post .wrapper.active .post {
    margin-left: -500px;
}


.pop_post .container .post header {
    font-size: 18px;
    font-weight: var(--main-font-weight);
    text-align: center;
    padding: 17px 0;
    color: #333;
}

.pop_post .container .post form {
    margin: 20px 25px;
}

.pop_post .container .post form :where(.contant, .detailes .privacy ),
.pop_post .container  .audience .list li .column {
    display: flex;
    align-items: center;
}

.pop_post .container .post form .contant .detailes {
    margin: -3px 0 0 12px;
}

.pop_post .container .post form .contant .detailes p {
    font-size: 17px;
    font-weight: 500;
}

.pop_post .container .post form .contant .detailes .privacy {
    max-width: 98px;
    font-size: 11px;
    background-color: #e4e6eb71;
    justify-content: space-between;
    /* padding: 0 10px; */
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3px;
    padding: 3px;
}

.pop_post .container .post form  .theme-emoji a i {
    font-size: 22px;
    color: #c3c4bd;
}

.pop_post .container .post form .contant .detailes .privacy span {
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
}

.pop_post .container .post form .contant .detailes .privacy i {
    font-size: 11px;
    /* margin-left: 1px; */
}

.pop_post .container .post form :where(textarea , button ){
    width: 100%;
    outline: none;
    border: none;
}

.pop_post .container .post form textarea {
    resize: none;
    margin-top: 30px;
    min-height: 100px;
    font-size: 18px;
}

.pop_post .container .post form :where(.theme-emoji , .options) ,
.pop_post .container  .audience .list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pop_post .container .post form .theme-emoji  i {
    cursor: pointer;
}

.pop_post .container .post form .theme-emoji  i:last-child {
    max-width: 24px;
}

.pop_post .container .post form .options {
    border: 1px solid #b9b9b9;
    height: 57px;
    border-radius: 7px;
    padding: 0 15px;
    margin: 15px 0;
}

.pop_post .container .post form .options p {
    font-size: 15px;
    font-weight: 500;
    color: #595959;
}

.pop_post .container .post form .options :where(.list , li),
.pop_post .container  .audience :where(.arrow-back , .icon , .radio) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop_post .container .post form .options .list li {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.pop_post .container .post form .options .list li i {
    width: 23px;
}

.pop_post .container .post form .options .list li:hover {
    background-color: #f0f1f4;
}

.pop_post .container .post form .options .list  .photo a i {
    color: #41b35d;
}

.pop_post .container .post form .options .list  .video a i  {
    color: #e73f5a;
}

.pop_post .container .post form .options .list  .link a i {
    color: var(--main-color-hover);
}

.pop_post .container .post form .options .list  .tag_friends a i{
    color : #1771E6
}

.pop_post .container .post form button {
    height: 53px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 500;
    cursor: no-drop;
    color: #bcc0cb;
    background-color: #e2e5e9;
}

.pop_post .container .post form textarea:valid ~ button {
    color: #fff;
    cursor: pointer;
    background-color: var(--main-color-hover);
}

.pop_post .container  .audience header {
    padding: 17px 0;
    border-bottom: 1px solid #bfbfbf;
    text-align: center;
    position: relative;
}

.pop_post .container  .audience header .arrow-back {
    position: absolute;
    left: 25px;
    height: 35px;
    width: 35px;
    background-color: #e4e6eb;
    border-radius: 50%;
    color: #747474;
    cursor: pointer;
}

.pop_post .container  .audience header p {
    font-size: 22px;
    font-weight: var(--main-font-weight);
}

.pop_post .container  .audience .content {
    margin: 20px 25px 0;
}

.pop_post .container  .audience .content p {
    font-size: 17px;
    font-weight: 500;
}

.pop_post .container  .audience .content span {
    font-size: 14px;
    color: #65676b;
}

.pop_post .container  .audience .list {
    margin: 15px 16px 20px;
}

.pop_post .container  .audience .list li {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 12px 10px;
    border-radius: 7px;
    transition: var(--main-transition);
}
.pop_post .container .audience .list li .column .icon {
    height: 50px;
    width: 50px;
    background-color: #e4e6eb;
    border-radius: 50%;
    color: #333;
    font-size: 23px;
}
.pop_post .container  .audience .list li .column .detailes {
    margin-left: 15px;
}

.pop_post .wrapper  .audience .list li .radio {
    height: 20px;
    width: 20px;
    border: 1px solid #707070;
    border-radius: 50%;
}

.pop_post .container  .audience .list li.active .radio {
    border: 2px solid var(--main-color-hover);
}

.pop_post .container  .audience .list li:hover {
    background-color: #f0f1f4;
}

.pop_post .container  .audience .list li.active:hover,
.pop_post .container  .audience .list li.active {
    background-color: #e5f1ff;
}

.pop_post .container  .audience .list li .column .detailes p {
    font-weight: 500;
}

.pop_post .container  .audience .list li .column .detailes span {
    font-size: 14px;
    color: #65676b;
}

.pop_post .container  .audience .list li.active .radio::before {
    content: '';
    height: 12px;
    width: 12px;
    background-color: #4599ff;
    border-radius: 50%;
}

.pop_post .wrapper .audience {
    opacity: 0;
    transition: opacity 0.12s ease;
}

.pop_post .wrapper.active .audience {
    opacity: 1;
}

/* change designPost  */

.designPost {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.designPost .contain {
    box-shadow: var(--main-box-shadow);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 35%;
    max-width: 100%;
    border-radius: 5px;
}

.designPost .contain .box_1 {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.designPost .contain .box_1 .image  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    position: relative;
}

.designPost .contain .box_1 .image img {
    cursor: pointer;
    position: absolute;
    top: -39px;
    left: -38px;
    border: 2px solid;
    border-color: lightgreen;
    border-radius: 20px 30px;
}

.designPost .contain .box_1 .image .infoProfile  {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    /* row-gap: 2px; */
}

.designPost .contain .box_1 .image .infoProfile .userName a {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: 1s;
    cursor: pointer;
}
.designPost .contain .box_1 .image .infoProfile .userName a:hover {
    color: var(--main-color-hover);
}
.designPost .contain .box_1 .image .infoProfile .data a {
    font-size: 11px;
    color: rgba(51, 51, 51, 0.788);
    padding: 5px;
    transition: 1s;
}

.designPost .contain .box_1 .image .infoProfile .data a:hover {
    color: #333;
}

.designPost .contain .box_1 .image .infoProfile .data > i {
    color: rgba(51, 51, 51, 0.664);
    transition: 1s;
}

.designPost .contain .box_1 .image .infoProfile .data > i:hover {
    color: #333;
}

.designPost .contain .box_1 .image .infoProfile .data  i {
    font-size: 11px;
}

.designPost .contain .box_1 span {
    color: #333;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(51, 51, 51, 0.199);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    font-size: 13px;
    font-weight: 600;
}
.designPost .contain .box_1 span:hover {
    color: #4599ff;
    background-color: rgba(153, 153, 153, 0.342);
}


.designPost .contain .box_3 {
    padding: 10px 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.designPost .contain .box_3 .box_container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
.designPost .contain .box_3 i {
    font-size: 20px;
    cursor: pointer;
    color: #595959a8;
    transition: .6s;
    /* animation:  up-and-downn 5s linear infinite; */
}

.designPost .contain .box_3 i:hover {
    color: var(--main-color-hover);

}


.designPost .contain p {
    width: 480px;
    max-width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
}
