.setting-container {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.setting-container .container {
  display: grid;
  grid-template-columns: 70%;
  grid-template-rows: 12% 80%;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  /* padding: 10px 15px; */
}

.setting-container .container .taps {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;

  /* gap:20px; */
  margin-right: 5px;
  background-color: #fff;
  transition: 0.3s;
  border-radius: 5px;
  border: 1px solid #eee;
    box-shadow: 0px 0px 10px 0px #57dbff;
}

.setting-container .container .taps li {
  padding: 13px 15px ;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  font-family: cursive;
  color: #999989;
  width: 100%;
  position: relative;
  border-right: 2px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  text-transform: capitalize;
  height: 50px;
}

.setting-container .container .taps li::after {
  content: '';
  position: absolute;
  left: 0;
  top: -2px;
  width: 0;
  height: 4px;
  background-color: #00c9ff;
  transition: 0.5s;
  border-radius: 3px;
}
.setting-container .container .taps li:hover::after {
  content: '';
  width: 100%;
}
.setting-container .container .taps li.active ,
.setting-container .container .taps li:hover {
 background-color: #f2fdff;
 color: var(--main-color-hover);
}
.setting-container .container .content {
   background-color: #f2fdff;
   border-radius: 5px;
   width: 100%;
   /* height: 100%; */
   padding: 15px;
  box-shadow: 0px 0px 10px 0px #57dbff;

}

.setting-container  .container .taps li.active::after {
  content: '';
  position: absolute;
  left: 0;
  top: -2px;
  width: 100%;
  height: 5px;
  background-color: #00c9ff;
  transition: 0.4s;
  border-radius: 5px;
}

.setting-container .container .contents > div:not(:first-child) {
 display: none;
}

.setting-container .container .contents .password {
  margin-top: -4px;
}




.setting-container .container .contents .conten {
  width: 100%;
  max-width: 100%;
  margin-top: 10px
}

.setting-container .container .contents .form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  /* gap :30px; */
}

.setting-container .container .contents .form .content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap : 15px;
  width: 100%;
  margin-bottom: 20px;
}

.setting-container .container .contents .personal {
  margin-top: -10px;
}

.setting-container  h1 {
  font-size: 18px;
  font-weight: normal;
  font-family: cursive;
  color: rgb(97, 97, 97);
  text-transform: capitalize;
  padding: 10px 30px;
  text-shadow: 1px 1px 8px 10px #f2fdff;
}
.setting-container .container .contents .form .content .min-box {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 70%;
  justify-content: center;
  align-items: flex-start;
  gap : 50px;
}

.setting-container button {
  padding: 8px 12px;
  color: #999989;
  font-size: 17px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

.setting-container button i {
  transition: 0.4s;
}
.setting-container button:hover i {
  color: #00c9ff;
  transform: scale(1.1);
}

.setting-container .container .contents .form .content .min-box .center {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  gap : 10px;
  justify-content: space-between;
}

.setting-container input {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #eee;
  caret-color: #00c9ff;
  font-size: 16px;
  color: #999989;
  font-family: cursive;
  transition: 0.3s;
}

.setting-container input::placeholder {
  opacity: .9;
}
.setting-container input:hover::placeholder {
  transition: 0.3s;
  opacity: .4;
}
.setting-container input:focus {
  outline: none;
}
.setting-container input:hover,
.setting-container .manage textarea:hover,
.setting-container .manage .select:hover {
  box-shadow: 0px 0px 6px 1px #00c9ff;
}

.setting-container .vertical {
  display: grid;
  gap : 15px;
}

.setting-container .vertical  > input {
  background-color: #fff !important;
}

.setting-container .container .contents .form .content .min-box .center-box {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 80% 19%;
  gap : 10px;
  justify-content: space-between;
}

.setting-container  input[type="button"] {
  font-family: Arial;
  font-size: 13px;
  text-transform: uppercase;
  background: #fff;
  color: #999989;
  cursor: pointer;
}
.setting-container  input[type="button"].notactive {
  background-color: #81BDCD !important;
  color: #fff !important;
  cursor : no-drop;
  box-shadow: none;
}

.setting-container input[type="button"].active-btn  {
  background-color: #017A9B;
  color: #fff;
  cursor: pointer;
}

.setting-container .minbox {
  display: flex;
  flex-direction: column;
  gap : 5px;
  justify-content: flex-start;
  align-items: flex-start;
}
.setting-container .minbox .resend {
  background-color: transparent;
  text-transform: lowercase;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  color: #00c9ff;
  text-transform: capitalize;
}

.setting-container .minbox .resend:hover {
  box-shadow: none;
  color: #86e6ff;
}

.setting-container .minbox .enterCode {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px 10px;
  gap :15px
}
.setting-container  p {
  font-size: 15px;
  color: #787878;
  max-width: 500px;
  line-height: 1.5;
  word-spacing: 2px
}

.setting-container .minbox .code {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap : 10px;
}

.setting-container h3 {
  font-weight: 500;
  font-size: 14px;
  color: #787872;
  text-transform: capitalize;
}

.setting-container .manage i {
  margin-right: 10px;
  color: #00c9ff;
}

.setting-container .manage textarea {
  resize: none;
  width: 380px;
  height: 140px;
  border-radius: 10px;
  border: 1px solid #eee;
  caret-color: #00c9ff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  padding: 20px 0;
  margin: auto;
  margin-top: -20px;
  transition: 0.3s;
  font-size: 16px;
  color: #999989;
  line-height: 1.5;
  overflow: hidden;
}
.setting-container .manage textarea:focus {
  outline: none;
}

.setting-container .manage .content {
  margin-top: -43px !important;
}

.setting-container .manage .select {
  width: 300px;
  /* margin: auto; */
  border: 1px solid #Eee;
  transition: 0.3s;
  padding: 8px 15px;
  font-size: 16px;
  color: #999989;
  border-radius: 10px;
  cursor: pointer;
}
.setting-container .manage .select option {
  text-transform: capitalize;
  cursor: pointer;
  border: 1px solid #eee;
}
.setting-container .manage .select:focus {
  outline: none;
}

.setting-container .blocking img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.setting-container .blocking .min-box {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;

}

.setting-container .blocking .content {
  padding: 30px 40px;
  margin-top: -37px;
}
.setting-container .blocking .min-box input[type="button"] {
  width: 120px;
}
.setting-container .blocking .min-box .prof {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap : 20px;
}

.setting-container .manage .lock {
  width: 100px;
}

/* .resendCode {
  display: none !important;
} */


.setting-container .newEmail  {
  margin-top: -10px
}
.setting-container .newEmail .content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction:column;
  width: 100%;
}
