*{
    margin: 0;
}
.container{
   
    width: 800px;
}
.container .back{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    box-shadow: 10px 10px 10px 10px  rgb(194, 189, 189);
    width: 80%;
    height: 60%;
}

@media (max-width: 800px) {
    .container .back {
        display: flex;
      flex-direction: column;
    }
  }
  
@media (max-width: 800px) {
    .container .back {
     text-align: center;
    }
  }
.container .back .image img{
    width: 300px;
    height: 300px;    
}

@media (max-width: 360px) {
    .container .back .image img{
        width: 200px;
        height: 200px;
        margin-bottom: -239px;
        

    }
  }
.container .back .text{
    padding: 20px;
}
.container .back .text h1{
    color: #333;
}
.container .back .button{
    padding: 10px;
    margin: 30px;
    border-radius: 20px;
    font-size: 20px;
    transition: .3s;
    background-color: var(--main-color-error);
     text-align: center;
     border: transparent;
     color: white;
     
     
}
@media(min-width:300px){
    .container .back .button{
        font-size: 25px;
    } 
}
.container .back .button:hover{
    background-color: var(--main-color-error);
    color: white;
   
}
